= form_for posts do |f|
  






-# = form_tag('/posts', method: :post) do
-#   %input{:name => "content", :type => "text"}/
-#   %input{:type => "submit", :value => "検索する"}/
-# = form_tag('/posts', method: :delete) do
-#   %input{:name => "content", :type => "text"}/
-#   %input{:type => "subumit", :value => "削除する"}/
-#   = link_to '新規投稿', '/posts/new'
